.order-bar{
    float: right;
    width: 40%;
    font-size:20px;
}
.bar{
    margin-left: 5%;
}

.bar>span{
    float: left;
    line-height: 40px;
    color: #555;
}

.select-bar-dropdown select {
  /* Style the dropdown box */
  padding: 0 5px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  color: white;
}

  .select-bar-dropdown select option {
    margin: 40px;
    background: #232323;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
  .select-bar-dropdown {
    position: relative;
    width:200px;    
    margin-left: 20px;
    float: left;
    font-size: 20px;
  }
  

